extends layout
block css
  link(rel='stylesheet',href='/stylesheets/index.css')
  script(src="http://api.map.baidu.com/api?v=2.0&ak=" + ak)
block content
  input#city(type='hidden',value="#{city}")
  #allmap
  #left_panel
    #search_container
      input#search_input(type='text',autocomplete='off',maxlength='256',placeholder='地址')
      button#search_btn
    #searchrestult_panel
  canvas#guassian_blur_container
  script(src="/javascripts/opensource/socket.io.js")
  script(src="http://html2canvas.hertzen.com/dist/html2canvas.js")
  script(src="/javascripts/Derivative.js")
  script(src="/javascripts/Domhelper.js")
  script(src="/javascripts/map.js")
  

  