extends layout

block append Headcss
  style.
    body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
block content
  h1= title
  p Welcome to #{title}
  #allmap
  script(src="/js/map.js")