extends layout
<<<<<<< HEAD
block append css
	link(rel='stylesheet',href='/stylesheets/index.css')
block content
  
=======

block append Headcss
  style.
    body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
block content
  h1= title
  p Welcome to #{title}
  #allmap
  script(src="/js/map.js")
>>>>>>> 6c3721082790101c9c00ed1fb5c37a0f41338990
