extends layout 
block headcss
    link(rel='stylesheet',href='/stylesheets/index.css')
block content
  #allmap
  #left-panel
    #searchbox-container
      input#sole-input.search-word(type='text',name='word',maxlength='256')
  script(src="/js/map.js")