doctype html
html
  head
    title= title
<<<<<<< HEAD
    block headcss
    link(rel='stylesheet', href='/stylesheets/style.css')
=======
    block css
      link(rel='stylesheet', href='/stylesheets/style.css')
>>>>>>> d1d850879da4f85149cadafacfe9b1d2f35ffe9b
    script(src="http://api.map.baidu.com/api?v=2.0&ak=Ek3VtUhFhBu62oMtrdG5zTqrN876FwFo")
  body
    block content