doctype html
html
  head
    title= title
    block css
      link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")  
  body
    block content