doctype html
html
  head
    title= title
    block headcss
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://api.map.baidu.com/api?v=2.0&ak=Ek3VtUhFhBu62oMtrdG5zTqrN876FwFo")
  body
    block content