doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/dist/lobibox/css/lobibox.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/loading.css')
    link(rel='stylesheet', href='/stylesheets/map.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    
    meta(http-equiv="Content-Type",content="text/html;charset=utf-8")
    meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="//at.alicdn.com/t/font_504827_rmriawsy6869a4i.css")
    script(src="//api.map.baidu.com/api?v=2.0&ak=0FG8srCNgC7GGBtKWGDVplLdHkwRCyVD")
    script(src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    script(src="/javascripts/reset.js") 
    script(src="/dist/lobibox/js/lobibox.js") 
  body
    block content
